<!-- Footer -->
<div class="footer bg-dark-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" >
                <h6>À propos de BenneZaï</h6>
                <p class="p-small f-text">Benne Zaï, est un projet qui a vu le jour en novembre 2020, autour d'un projet étudiant regroupant des étudiants web marketings et d'autres en ingénieries informatiques, nous avons eu envie de mettre en place ce projet pour sensibiliser les personnes vers le recyclage et le tri, ce qui est important dans notre société actuelle.</p>
            </div> <!-- end of footer-col -->
            <div class="col-lg-6 benne-footer">
                <p class="p-small p-mail">Mail : <a href="mailto:contact@bennezai.fr"><strong>contact@bennezai.fr</strong></a></p>
                <p class="p-small">Créé avec ❤️️ à Grenoble, France 🗻 <br>Copyright © <a href="{{ asset('images/bac_jaune_gpso.jpg') }}">Benne Zaï</a></p>
                <div>
                    <span class="fa-stack">
                        <a href="https://www.instagram.com/bennezai_grenoble/" target="_blank">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-instagram fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="https://www.facebook.com/BenneZa%C3%AF-114952277079634" target="_blank">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                </div>
            </div> <!-- end of footer-col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->
<!-- end of footer -->