<!-- Header -->
<header id="commentCaMarche" class="cd-header">
    <div id="cd-logo"><a id="btn1" href="#skill">Atouts</a></div>
</header>

<section id="cd-intro">
    <div id="cd-intro-tagline">
        <a href="#maps" class="cd-btn">Maps</a>
        <img src="{{ asset('icons/Logo_blanc.png') }}" class="logoBenneZai" alt="">
    </div>
</section>

<div class="cd-secondary-nav" style="position: absolute;left: -200px;">
    <nav>
        <ul>
            <li>
                <a href="#commentCaMarche" id="scrollTop" style="opacity: 0">
                    <img src="{{ asset('icons/Logo_Z_blanc.png') }}" class="logoBenneZ" alt="">
                </a>
            </li>
        </ul>
    </nav>
</div>