<form method="post" action="{{ path('article_delete', {'id': article.id}) }}" onsubmit="return confirm();">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn btn-danger float-right mt-3">Supprimer</button>
</form>
 
